<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1041756226762-0fq9vb0i1vd38ejm64clprihgirg8g4j.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1041756226762-0fq9vb0i1vd38ejm64clprihgirg8g4j</string>
	<key>API_KEY</key>
	<string>AIzaSyB7ay8NzNlzCUbx69kuGgnmWsFglZbFMMg</string>
	<key>GCM_SENDER_ID</key>
	<string>1041756226762</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.samael.coinwatcher</string>
	<key>PROJECT_ID</key>
	<string>coinwatcher-91276</string>
	<key>STORAGE_BUCKET</key>
	<string>coinwatcher-91276.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1041756226762:ios:a89f2e99a9ac72fc1f2033</string>
</dict>
</plist>